body    {
    background-image: url(./assets/target.jpg);
    background-size: 95%;
    background-repeat: no-repeat;
    display: inline;
}


.target-image{
    width: 200px;
}

header  {
    margin: 20px;
    color: black;
    font-size: 20px;
}
.plane-pic{
    margin: 20px;
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
